@import '../variables';
.skills-section{
    background-color: $skills-color;
    padding: 50px 250px;
    color: $text-color;
}
.skills-title{
    padding-bottom: 50px;
    letter-spacing: .111111em;
}
.skills-list {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    list-style-type: none;
    justify-content: center;
    align-content: center;
}
.skill-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    letter-spacing: 1.5px;
    margin-bottom: 2em;
}
.skill-img {
    max-height: 100px;
}