$header-color: rgb(139, 139, 139);
// $header-color: #3AAFA9;
// $about-color: rgb(55, 170, 160);
$about-color: rgb(139, 139, 139);
$skills-color: #225378;
// $skills-color: #3AAFA9;
// $skills-color: #DEF2F1;
// $projects-color: rgb(121, 56, 56);
$projects-color: #2B7A78;
$header-link-color: #ff0;
$text-color: #ffffff;
// $text-color: #17252A;